name: precinho_app
description: "Aplicativo colaborativo para compartilhamento de preços de supermercado"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.2.3 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  # Firebase
  firebase_core: ^2.24.2
  cloud_firestore: ^4.13.6
  firebase_auth: ^4.15.3
  firebase_storage: ^11.5.6

  # Gerenciamento de Estado
  flutter_riverpod: ^2.4.9
  provider: ^6.1.1

  # Networking
  dio: ^5.3.2
  http: 1.1.0
  flutter_google_places_sdk: ^0.3.0

  # Autenticação Social
  google_sign_in: ^6.1.6

  # Armazenamento Local
  shared_preferences: ^2.2.2
  sqflite: ^2.3.0

  # Utilitários
  intl: ^0.18.1
  uuid: ^4.2.1
  equatable: ^2.0.5
  url_launcher: ^6.2.1
  flutter_dotenv: ^5.1.0

  # UI e Animações
  lottie: ^2.7.0
  cached_network_image: ^3.3.0
  flutter_cache_manager: ^3.3.1
  google_fonts: ^6.1.0

  # Validação e Formatação
  mask_text_input_formatter: ^2.5.0

  # Apenas para mobile (removidas para web)
  geolocator: ^10.1.0
  # geocoding: ^2.1.1
  # camera: ^0.10.5+5
  image_picker: ^1.0.4
  exif: ^3.1.1
  image: ^4.1.3
  mobile_scanner: ^3.5.0
  # google_maps_flutter: ^2.5.0
  # google_mlkit_text_recognition: ^0.10.0
  # permission_handler: ^11.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0
  mockito: ^5.4.2
  build_runner: ^2.4.7
  flutter_launcher_icons: ^0.13.1
  flutter_native_splash: ^2.3.5

flutter_launcher_icons:
  android: true
  ios: false
  image_path: "assets/icons/app_icon.PNG"

flutter_native_splash:
  color: "#79B38D"
  image: assets/icons/app_icon.PNG
  android: true
  ios: false

flutter:
  uses-material-design: true

  assets:
    - .env
    - assets/icons/

dependency_overrides:
  web: ^0.5.0

